# Rust
target/
Cargo.lock

# Hardhat / Node.js
node_modules/
cache/
artifacts/
typechain-types/
coverage/
coverage.json

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

